.contentWrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
}

.product {
	float: left;
	margin: 15px;
	background-color: gray;
	width: 200px;
	border-radius: 5px;
	padding: 10px;
}

.productPhoto {
	max-width: 100%;
}

.productArea {
	width: 720px;
	background-color: purple;
	padding: 15px;
	overflow: auto;
}

h3 {
	font-size: 50%;
}