body { 
	background-color: black;
	background: url(images/slinky-background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.productBottom {
	padding: 15px;
}

.contentWrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.product {
	float: left;
	margin: 15px;
	background-color: darkgray;
	width: 200px;
	border-radius: 5px;
}

.productPhoto {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.productArea {
	width: 720px;
	background-color: rgba(0,0,0,0.5);
	padding: 15px;
	overflow: auto;
	border-radius: 5px;
	float: left;
}

.sidebar {
	background-color: rgba(0,0,0,0.5);
	padding: 15px;
	border-radius: 5px;
	width: 250px;
	float: right;
	color: white;
}

h3 {
	font-size: 50%;
}

#headerTextArea {
	width: 720px;
	float: left;
	color: white;
}

nav {
	float: right;
	margin-right: 15px;
}

nav > a {
	color: white;
}

nav > a:hover {
	color: lightgray;
}

header {
	padding: 15px;
	margin-bottom: 20px;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}